@import '../styles/variables.css';

.about-page {
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-background);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}

.about-section1, .about-section2 {
  margin-left: calc(var(--grid-unit-w) * 2);
  margin-right: calc(var(--grid-unit-w) * 2);
  margin-top: calc(var(--grid-unit-h) * 11);
  text-align: left;
}

.about-section1 h2, .about-section2 h2 {
  font-family: var(--font-arimo);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-regular);
  color: var(--color-text);
  margin-bottom: calc(var(--grid-unit-h) * 1);
  text-align: left;
}

.about-section1 p, .about-section2 p {
  font-family: var(--font-arimo);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-regular);
  color: var(--color-text);
  margin-bottom: var(--spacing-sm);
  line-height: 1.4;
  text-align: left;
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media Queries para Responsive Design */
@media (max-width: 768px) {
  .about-content {
    grid-template-columns: 1fr;
    height: auto;
  }

  .about-page {
    grid-template-columns: 1fr;
    height: auto;
    overflow: visible;
  }

  .about-image {
    display: none;
  }

  .about-image-container {
    display: none;
  }


  .about-section1, .about-section2 {
    margin-left: calc(var(--grid-unit-w) * 4);
    margin-right: calc(var(--grid-unit-w) * 4);
    text-align: left;
  }

  .about-section1 {
    margin-top: calc(var(--grid-unit-h) * 9);
  }

  .about-section2 {
    margin-top: calc(var(--grid-unit-h) * 4);
    margin-bottom: calc(var(--grid-unit-h) * 11);
  }

  .about-section1 h2, .about-section2 h2 {
    font-size: var(--font-size-lg2);
  }

  .about-section1 p, .about-section2 p {
    font-size: var(--font-size-md);
  }
}