@import '../styles/variables.css';

.project-page {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--color-background-project);
  color: var(--color-text-general);
}

.project-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.project-title {
  margin-top: calc(11 * var(--grid-unit-h));
  margin-left: calc(2 * var(--grid-unit-w));
  font-family: var(--font-arimo);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-regular);
  color: var(--color-text);
}

.project-description {
  margin-top: calc(1 * var(--grid-unit-h));
  margin-left: calc(2 * var(--grid-unit-w));
  width: calc(80 * var(--grid-unit-w));
  min-width: calc(80 * var(--grid-unit-w));
  max-width: calc(80 * var(--grid-unit-w));
  font-family: var(--font-arimo);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-regular);
  color: var(--color-text);
  line-height: 1.5;
  text-align: left;
}

/* Para pantallas medianas (tablets) */
@media (max-width: 900px) {
  .project-description {
    min-width: 90vw;
    max-width: 95vw;
    width: 95vw;
    -webkit-line-clamp: 6;
  }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
  .project-description {
    min-width: 98vw;
    max-width: 99vw;
    width: 99vw;
    -webkit-line-clamp: unset; /* Muestra toda la descripción */
    display: block;            /* Quita el recorte de líneas */
    overflow: visible;
  }
}

/* Contenedor para elementos dinámicos */
.project-dynamic-content {
  margin-top: calc(4 * var(--grid-unit-h));
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(50 * var(--grid-unit-h));
  max-height: calc(70 * var(--grid-unit-h));
  max-width: calc(188 * var(--grid-unit-w));
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
}

.project-preview-image {
  width: 100%;
  max-width: 800px;
  margin-bottom: var(--spacing-sm);
}

.project-images-grid {
  display: flex;
  gap: var(--spacing-sm);
  flex-wrap: wrap;
  justify-content: center;
}

.project-grid-image {
  width: 45%;
  max-width: 400px;
  border-radius: 8px;
}

.project-link {
  display: inline-block;
  margin-top: var(--spacing-lg);
  padding: var(--spacing-sm) var(--spacing-md);
  color: var(--color-text-general);
  text-decoration: none;
  border-radius: 8px;
  transition: background-color var(--transition-fast);
}

.project-link:hover {
  opacity: 0.8;
}

.project-iframe {
  width: 100%;
  height: 80vh;
  border: none;
  margin-top: var(--spacing-lg);
}

.loading-fallback {
  text-align: center;
  padding: var(--spacing-lg);
  font-size: 1.2rem;
  color: var(--color-text-general);
}
