@import '../../styles/variables.css';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2001;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(1 * var(--grid-unit-h)) calc(2 * var(--grid-unit-w));
  z-index: 1001;
}

.header__link {
  font-family: var(--font-inter);
  letter-spacing: var(--letter-spacing-tight);
  font-size: var(--font-size-xxl);
  color: var(--color-menu);
  font-weight: var(--font-weight-extraBold);
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


.header__projects-container {
  position: relative;
}

.header__projects-dropdown {
  position: absolute;
  top: calc(7.5 * var(--grid-unit-h));
  right: 0;
  background: transparent;
  min-width: calc(20 * var(--grid-unit-w));
  display: flex;
  flex-direction: column;
  gap: calc(1 * var(--grid-unit-h));
}

.header__project-link {
  font-family: var(--font-inter);
  letter-spacing: var(--letter-spacing-tight);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-extraBold);
  color: var(--color-menu);
  text-decoration: none;
  text-align: right;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
}

/* Media Queries para Responsive Design */
@media (max-width: 1024px) {
  .header__link {
    font-size: var(--font-size-xl);
  }

  .header__project-link {
    font-size: var(--font-size-lg);
  }
}

@media (max-width: 768px) {
  .header__mobile-menu {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: var(--color-background);
    color: var(--color-menu);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    font-family: var(--font-inter);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-extraBold);
    letter-spacing: var(--letter-spacing-tight);
    text-align: center;
    gap: 0.1rem;
  }
  .header__mobile-menu-link {
    color: var(--color-menu);
    text-decoration: none;
    font-size: var(--font-size-lg2);
    font-weight: var(--font-weight-extraBold);
    margin: 0.5rem 0;
  }
  .header__mobile-menu-footer {
    position: absolute;
    bottom: 2rem;
    left: 0; right: 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
    color: var(--color-menu);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-extraBold);
    padding: 0 1rem;
  }
}


@media (max-width: 480px) {
  .header__nav {
    padding: calc(2 * var(--grid-unit-h)) calc(2 * var(--grid-unit-w));
    padding-top: calc(var(--grid-unit-h) * 0);
  }

  .header__link {
    font-size: var(--font-size-xl2);
  }

  .header__project-link {
    font-size: var(--font-size-xl2);
  }
}