.project-notfound-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

.project-notfound-background {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  filter: brightness(0.5) blur(4px);
  -webkit-filter: brightness(0.5) blur(4px);
}

.project-notfound-content {
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 800px;
  z-index: 1;
  filter: none;
  -webkit-filter: none;
}

.project-notfound-title {
  font-family: var(--font-arimo);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  color: var(--color-menu);
  margin-bottom: var(--spacing-md);
}

.project-notfound-text {
  font-family: var(--font-arimo);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  color: var(--color-menu);
}

/* Para pantallas medianas (tablets) */
@media (max-width: 900px) {
  .project-notfound-container {
    height: 50vh;
  }

  .project-notfound-content {
    left: 50%;
    max-width: 100%;
  }

  .project-notfound-title {
    font-size: var(--font-size-md);
  }

  .project-notfound-text {
    font-size: var(--font-size-md);
  }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
  .project-notfound-container {
    height: 35vh;
  }

  .project-notfound-background {
    background-size: cover;
  }

  .project-notfound-content {
    left: 50%;
    font-size: var(--font-size-sm);
    max-width: 100%;
  }

  .project-notfound-title {
    font-size: var(--font-size-md);
  }

  .project-notfound-text {
    font-size: var(--font-size-md);
  }
} 